html,
body {
	Margin:0;
	Padding: 0;
}

body {
	Background-color: lightgray;
}

#wrap {
	width: 70%;
	margin:0 auto;
}

header,
nav,
footer {
	Padding: 40px;
}

Header {
	Background-color: blue;
}

Header img {
	width:100%;
	float: center;
}

nav {
	background-color: #0EC8C7;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
}

nav ul {
	margin: 0;
	text-align: center; 
}
nav li {
	display: inline;
}

nav a{
	color: white;
	text-decoration: none;
	padding: 20px;
}

nav a:hover {
	background-color: #EC3632;
	color: white; 
}

section {
	background-color: aqua;
	overflow: auto;
	font-family:Verdana, Geneva, sans-serif;
}

footer {
	background-color: #0EC8C7;
}

#footercontainer ul li {
	display: inline; 
}

aside {
	width: 34%;
	background-color:#EC3632;
	float: left;
	padding: 2%;
	color: white;
	font-size: 110%
}

article img {
		width: 55%;
		float: right; 
		margin: 0 0 10px 10px;
}

article {
	width: 58%;
	background-color: white;
	float: right;
	padding: 2%
}

ul li {
	padding: 10px 10px;
}


h1 {
	font-size: 3.0em;
	margin:10px;
}

@media screen and (max-width : 600px){
	
	body{
		background-color: lightgrey 
	}
	#wrap {
		width: 99%;
	}
	nav a{
		display: block;
		width: 100%;
		padding: 20px 0;
	}
	nav ul. nav li {
		margin: 0;
		padding: 0;
		text-align: center; 
	}
	nav {
		padding: 0;
	}
	
	aside, article {
		display: block;
		width: 100%;
		padding: 20 px 0;
	}
	
	article {
		width: auto;
	}
	aside ul, aside li {
		margin: 0;
		padding: 0;
		text-align: center;
	}
}
