html, body {
	margin:0;
	padding:0;
	background-color:#ddd;
}

Body {
	
}

#wrap {
	width: 70%;
	margin: 0 auto;
}

Header, nav, section, footer {
	background-color: white;
	margin: 10px 0;
}

header {
	
}

nav {
	
}

section {
	
}

footer {
	
}